<div class="col-md-3">
<div class="card" >
    <img class="card-img-top" src="../../assets/images/ak watch.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Watch</h5>
      <p class="card-text">For such a forgetful person like me, a watch can sometimes be a lifesaver. Watches also allow you to know the time in special occasions and situations.</p>
      <h4><a (click)="goBacktoparant()" class="btn btn-primary">Go Back To Product</a></h4>
    </div>
</div>
</div>
